body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: linear-gradient(to right, #f0a202, #f18805, #d95d39);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.collapsed {
  display: none;
}

.izquierda {
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
}

.derecha {
  position: fixed;
  transform: scaleX(-1);
  top: auto;
  right: 0;
  width: 300px;
}

/*  colores:  f0a202  f18805  d95d39  0e1428  7b9e89    */

nav {
  background-color: #0e1428;
  color: #f18805;
  width: 100%;
}

nav .mobile {
  display: none;
}
nav .mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mobile .header .more button {
  border: none;
  background-color: #f18805;
  padding: 15px;
  cursor: pointer;
}
nav .logo {
  min-width: 250px;
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
nav a {
  color: #f18805;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
}
nav a:hover {
  color: #0e1428;
  background-color: #f18805;
}
nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pad: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary {
  display: flex;
}

nav .desktop .secondary.mini {
  display: none;
}

@media screen and (max-width: 940px) {
  nav .logo {
    min-width: 100px;
  }
  nav .secondary.full {
    display: none;
  }
  nav .secondary.mini {
    display: block !important;
  }
  nav .secondary.mini .submenu {
    background-color: #0e1428;
    position: absolute;
    display: none;
    width: 180px;
    right: 0;
  }
  nav .secondary.mini .submenu {
    display: block;
  }

}

@media screen and (max-width: 500px) {
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: block;
  }
  .izquierda,
  .derecha {
    width: 150px;
  }
  .contenedor {
    width: 100px;
    margin: 50px auto;
  }
}

/* Para el login 
0e1428  7b9e89
*/
.contenedor {
  margin: 50px auto;
  border-radius: 20px;
  padding: 30px;
  color: #f0a202;
  width: 500px;
  background-image: linear-gradient(to right, #0e1428, #7b9e89);
}
